<!DOCTYPE html>
<html>
  <head>
    <title>PinInit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>

      <script>
        window.currentUser= {
          "id": <%= current_user.id %>,
          "email": "<%= current_user.email %>",
          "bio": "<%= current_user.bio  %>",
          "age": <%= current_user.age  %>,
          "f_name": "<%= current_user.f_name  %>",
          "l_name": "<%= current_user.l_name  %>",
          "username": "<%= current_user.username  %>",
          "profile_pic": "<%= current_user.profile_pic %>"
        };

      </script>


    <% end %>

      <script type="text/javascript">
        window.logoURL = "<%= image_url('logo.png') %>";
        window.bellURL = "<%= image_url('bell-solid.png')%>"
        window.messageIconURL = "<%= image_url('message-icon.png')%>"
        window.penURL = "<%= image_url('pen-solid.png')%>"
        window.plusURL = "<%= image_url('plus-solid.png')%>"
        window.settingsIconURL = "<%= image_url('settings-icon.png')%>"
        window.shareLogoURL = "<%= image_url('share-logo.png')%>"
        window.theXURL = "<%= image_url('the-X.png')%>"
        window.dropdownIcon = "<%= image_url('chevron-down-solid.png')%>"
        window.photo1 = "<%= image_url('pexels-pixabay-247431.jpg')%>"
        window.photo2 = "<%= image_url('pexels-pixabay-40896.jpg')%>"
        window.photo3 = "<%= image_url('pexels-visually-us-1643416.jpg')%>"
        window.avatar = "<%= image_url('default_inst.jpeg')%>"
      </script>

    <%= yield %>
  </body>
</html>
